@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Dancing+Script:wght@700&family=Noto+Sans+KR&family=Poppins:wght@200;300;400;500;600;700;800&family=Roboto:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ede6d6;
}

.slide-wrapper{ 
    position: relative;
    width: 1080px;
    height: 760px;
    border: 3px solid #ede6d6;
    box-shadow: 0 0 8px 2px rgb(0, 0, 0, 0.2);
}

.sildes { 
    width: 100%;
    height: 720px;
    position: relative;
    display: flex;
    overflow: hidden;
}

.sildes .img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}

span#next,span#back {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #eee;
    padding: 14px;
    font-size: 24px;
    font-weight: 700;
    transition: 0.5s;
    border-radius: 3px;
    user-select: none;
    cursor: pointer;
    z-index: 1;
}

span#next {
    right: 20px;
}

span#back {
    left: 20px;
}

span#next:hover, span#back:hover {
    background-color: #ede6d6;
    opacity: 0.8;
    color: #222;
}

.dotcontainer {
    position: absolute;
    bottom: 5px;
    z-index: 3;
    left: 50%;
    transform: translateX(-50%);
}

.dotcontainer .dot {
    width: 15px;
    height: 15px;
    margin: 0px 2px;
    border: 3px solid #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: 0.5s;
}

.dotcontainer .active {
    background-color: #555;
}